#<font color='orange'>Симнете го податочното множество</font>

In [ ]:
!gdown 14YlgjT_M8kDrvDKEv864fs7ZyI1lMErO

Downloading...
From: https://drive.google.com/uc?id=14YlgjT_M8kDrvDKEv864fs7ZyI1lMErO
To: /content/crypto_data.csv
100% 90.0k/90.0k [00:00<00:00, 60.8MB/s]

#<font color='orange'>Направете претпроцесирање на податоците</font>

In [ ]:
import pandas as pd
data = pd.read_csv('crypto_data.csv')
data

          Date  Close (BNB)   Close (BTC)  Close (USDT)  Close (ETH)
0     09-11-17      1.99077   7143.580078       1.00818   320.884003
1     10-11-17      1.79684   6618.140137       1.00601   299.252991
2     11-11-17      1.67047   6357.600098       1.00899   314.681000
3     12-11-17      1.51969   5950.069824       1.01247   307.907990
4     13-11-17      1.68662   6559.490234       1.00935   316.716003
...        ...          ...           ...           ...          ...
1748  23-08-22    299.03000  21528.090000       1.00000  1662.770000
1749  24-08-22    296.45000  21395.020000       1.00000  1657.060000
1750  25-08-22    301.58000  21600.900000       1.00010  1696.460000
1751  26-08-22    279.60000  20260.020000       1.00000  1507.780000
1752  27-08-22    277.30000  20029.790000       1.00000  1470.760000

[1753 rows x 5 columns]

In [ ]:
from dataclasses import dataclass
data.dropna(axis=0, subset=['Close (ETH)'], inplace=True)
y = data.drop(['Date'], axis=1).drop(['Close (BNB)'], axis=1).drop(['Close (BTC)'], axis=1).drop(['Close (USDT)'], axis=1)
X = data.drop(['Close (ETH)'], axis=1).select_dtypes(exclude=['object'])
X

      Close (BNB)   Close (BTC)  Close (USDT)
0         1.99077   7143.580078       1.00818
1         1.79684   6618.140137       1.00601
2         1.67047   6357.600098       1.00899
3         1.51969   5950.069824       1.01247
4         1.68662   6559.490234       1.00935
...           ...           ...           ...
1748    299.03000  21528.090000       1.00000
1749    296.45000  21395.020000       1.00000
1750    301.58000  21600.900000       1.00010
1751    279.60000  20260.020000       1.00000
1752    277.30000  20029.790000       1.00000

[1753 rows x 3 columns]

#<font color='orange'>Поделето го на тренирачко и тестирачко множество во сооднос 80:20</font>

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.2)

#<font color='orange'>Искористете соодветен Boosting модел за проблемот</font>

In [ ]:
from xgboost import XGBRegressor

model = XGBRegressor(objective ='reg:linear',colsample_bytree=0.3,learning_rate=0.1,max_depth=15,alpha=2,n_estimators=10)
model.fit(X_train, Y_train)

y_pred = model.predict(X_test)

[18:12:06] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

#<font color='orange'>Тестирајте го моделот на тестирачкото множество со метриките за евалуација на дадениот проблем</font>

In [ ]:
from sklearn.metrics import mean_squared_error, mean_absolute_error
import numpy as np

print("Mean Absolute Error : " + str(mean_absolute_error(y_pred, Y_test)))
print("Mean Squared Error : " + str(mean_squared_error(y_pred, Y_test)))
print("Root Mean Squared Error : " + str(np.sqrt(mean_squared_error(y_pred, Y_test))))

Mean Absolute Error : 459.16665445599
Mean Squared Error : 505692.9383006994
Root Mean Squared Error : 711.1209027308222